<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Workbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9B79A8B1DF7EC2F00ABC9CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B79A9F1DF7EC3000ABC9CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B79AAA1DF7EC3000ABC9CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
